@import 'tailwindcss';

@source '../../../Backend/vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../../Backend/storage/framework/views/*.php';
@source '../views/**/*.blade.php';


@theme {
    --color-brand-50:  #eafdf5;
    --color-brand-100: #c9f9e5;
    --color-brand-200: #93f3cc;
    --color-brand-300: #4eeab0;
    --color-brand-400: #19dc99;
    --color-brand-500: #06d48f;
    --color-brand-600: #05b87a;
    --color-brand-700: #049465;
    --color-brand-800: #037250;
    --color-brand-900: #02573d;
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}
